@{
    ViewData["Title"] = "Create";
}
<div class="container bg-secondary p-4 mt-4 rounded">
    <div class="container bg-light pb-2">
        <p class="text-dark text-center fs-4 fw-bold py-2">Create Employee</p>
        <div>
            <div class="row">
  <div class="col">
  <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Name</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter your full name">
</div>
  </div>
  <div class="col">
  <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="email@gmail.com">
</div>
  </div>
</div>
<div class="row">
  <div class="col">
  <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Phone No</label>
  <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="+977-9876543210">
</div>
  </div>
  <div class="col">
  <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Address</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter your address">
</div>
  </div>
</div>
<div class="row">
  <div class="col">
  <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Department</label>
  <select class="form-select" aria-label="Default select example">
  <option selected>Select Department</option>
  <option value="1">Software Engineer</option>
  <option value="2">Manager</option>
  <option value="3">Staffs</option>
  <option value="4">Management Team</option>
</select>
</div>
  </div>
  <div class="col">
  <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Designition</label>
  <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter your designition">
</div>
  </div>
</div>
<div class="row">
  <div class="col">
  <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Date of Birth(DOB)</label>
  <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="">
</div>
  </div>
  <div class="col">
  <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Gender</label>
    <select class="form-select" aria-label="Default select example">
  <option selected>Select Gender</option>
  <option value="1">Male</option>
  <option value="2">Female</option>
  <option value="3">Others</option>
</select>
</div>
  </div>
</div>
<div class="row">
  <div class="col">
  <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Date of Join(DOJ)</label>
  <input type="date" class="form-control" id="exampleFormControlInput1" placeholder="">
</div>
  </div>
  <div class="col">
  <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Salary</label>
     <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Enter Salary">
</div>
  </div>
</div>
<div class="row">
  <div class="col">
  <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Married Status</label>
 <select class="form-select" aria-label="Default select example">
  <option selected>Select Married Status</option>
  <option value="1">Married</option>
  <option value="2">Unmarried</option>
</select>
</div>
  </div>
  <div class="col">
  <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Country</label>
     <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Country">
</div>
  </div>
</div>
<div class="d-grid col-6 mx-auto my-4">
  <button class="btn btn-primary" type="button">Create</button>
</div>
        </div>
    </div>
</div>