@{
    ViewData["Title"] = "Departments";
}
<div class="row mt-4">
        <p class="text-dark text-center fs-4 fw-bold py-2">Total Departments</p>
    <div class="col-3">
        <div class="card" style="width: 18rem;height:80%">
  <img src="/img/se1.png" class="card-img-top" style="width:65%" alt="...">
  <div class="card-body">
    <p class="card-text fw-bold text-center">Software Engineer</p>
  </div>
</div>
    </div>
      <div class="col-3">
        <div class="card" style="width: 18rem;height:80%">
  <img src="/img/mds.png" class="card-img-top" style="width:65%" alt="...">
  <div class="card-body">
    <p class="card-text fw-bold text-center">Management Departments</p>
  </div>
</div>
    </div>
      <div class="col-3">
        <div class="card" style="width: 18rem;height:80%">
  <img src="/img/itdep.png" class="card-img-top" style="width:100%" alt="...">
  <div class="card-body">
    <p class="card-text fw-bold text-center">IT Departments</p>
  </div>
</div>
    </div>
       <div class="col-3">
        <div class="card" style="width: 18rem;height:80%">
  <img src="/img//managers.png" class="card-img-top" style="width:86%" alt="...">
  <div class="card-body">
    <p class="card-text fw-bold text-center">Manager</p>
  </div>
</div>
    </div>
</div>