@{
    ViewData["Title"] = "Home Page";
}
<div>
    <div class="container py-5">
  <div class="row py-5 h-100 d-flex align-items-center justify-content-center">
    <div class="col-7">
        <p class="fs-1">Employee <span class="text-primary">Management</span> System</p>
        <p class="lh-lg">
           An employee management system is designed to manage the business duties departmental wise, and streamlining the HR.
Employee engagement systems are structured to accurately monitor, assess, and control the working hours of workers and to efficiently utilize the human resources. Also, it helps in ensuring the payrolls are done on a timely basis.
As a business, your employees are your true asset. Managing them is no doubt a challenging task, especially when the number of employees increases, it’s even harder to control the entire workforce. Here is why you need a management system which keeps all the process on track.
        </p>
    </div>
    <div class="col-5">
        <img src="/img/landings.png"/>
    </div>
  </div>
</div>
<div id="aboutus" class="pb-sm-4">
    <div class="d-flex align-items-center justify-content-center pb-4">
        <p class="border border-primary px-4 py-1 fw-bolder fs-4">About Us</p>
    </div>
    <div>
        <div class="">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-5">
                    <img src="~/img/about.png" class="w-100"/>
                </div>
                <div class="col-7 lh-lg">
                    <h3 class="text-primary">What we do?</h3>
                    An employee management system is a distributed system developed to maintain the employee details and the company workflow process systematically.
EMS helps to eliminate the manual process and saves a lot of time and money. This system maintains the professional and personal details of the employees and the company in a safe manner. The employee management system lowers the burden and the pressure on HRs and the business managers. Thanks to the technology which offers us a plethora of solutions which makes the work easier and faster.
                </div>
            </div> 
        </div>
    </div>
</div>
<div id="features">
    <div class="d-flex align-items-center justify-content-center pb-4 pt-4">
        <p class="border border-primary px-4 py-1 fw-bolder fs-4">Features</p>
    </div>
    <div>
        <div class="">
            <div class="row d-flex align-items-center justify-content-center">
                <div class="col-3">
                        <div>
              <div class="p-2 border border-primary rounded-xl h-36 shadow-lg transition-all  delay-100  text-center flex items-center justify-center ">
                <a>
                  <img src='/img/create.png' class="feature" />
                </a>
              </div>
              <p class="text-center pt-4  fw-bold text-black-700 capitalize">
                Create Employee
              </p>
            </div>
                </div>
                      <div class="col-3">
                        <div>
                            <div class="p-2 border border-primary rounded-xl h-36 shadow-lg transition-all  delay-100  text-center flex items-center justify-center ">
                <a>
                  <img src='/img/users1.png' class="features" />
                </a>
              </div>
              <p class="text-center pt-4  fw-bold text-black-700 capitalize">
                Display Employee
              </p>
            </div>
                </div>
                        <div class="col-3">
                        <div>
                            <div class="p-2 border border-primary rounded-xl h-36 shadow-lg transition-all  delay-100  text-center flex items-center justify-center ">
                <a>
                  <img src='/img/totals.png' class="feature" />
                </a>
              </div>
              <p class="text-center pt-4  fw-bold text-black-700 capitalize">
                Details of Employee
              </p>
            </div>
                </div>
                        <div class="col-3">
                        <div>
                           <div class="p-2 border border-primary rounded-xl h-36 shadow-lg transition-all  delay-100  text-center flex items-center justify-center ">
                <a>
                  <img src='/img/departments.png' class="feature" />
                </a>
              </div>
              <p class="text-center pt-4  fw-bold text-black-700 capitalize">
                Total Departments
              </p>
            </div>
                </div>
            </div> 
        </div>
    </div>
</div>
<div id="contactus" class="contact pt-4">
<section class="mb-4">
     <div class="d-flex align-items-center justify-content-center pb-4 pt-4">
        <p class="border border-primary px-4 py-1 fw-bolder fs-4">Contact Us</p>
    </div>
    <p class="text-center w-responsive mx-auto mb-5 fs-2 font-weight-bold">Do you have any questions?<br/> <span class="fs-6">Please do not hesitate to contact us directly.</span></p>
    <div class="row">
        <div class="col-md-12 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i>
                    <p>Gongabu, 44600, Kathmandu</p>
                </li>
                <li><i class="fa fa-phone fa-2x" aria-hidden="true"></i>
                    <p>+ 023445643</p>
                </li>
                <li><i class="fa fa-envelope fa-2x" aria-hidden="true"></i>
                    <p>employee@ms.com</p>
                </li>
            </ul>
        </div>
    </div>
</section>
</div>
</div>
    
